@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500");

body {
    background: white;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img,
embed,
object,
video {
  max-width: 100%;
}


nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
  padding-top: 20px;
}

nav h1 a {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1.25em;
  font-family: "Orbitron", sans-serif;
}