@charset "utf-8";
@import url("http://fonts.googleapis.com/css?family=Orbitron:400,500");

body {
    background: white;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img,
embed,
object,
video {
  max-width: 100%;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

.container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

#counter-container,
#set_aw-container {
  width: 100%;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
  padding-top: 20px;
}

nav h1 a {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1.25em;
  font-family: "Orbitron", sans-serif;
}

#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 450px) {
  #footer {
    padding: 0 !important;
  }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
  #footer {
    padding: 10px !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 755px) {
  #footer {
    padding: 15px !important;
  }
}

@media screen and (min-width: 756px) {
  #footer {
    padding: 25px 0 25px 0 !important;
  }
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

li {
  display: flex;
}

li button{
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

li input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 4px;
}

li input:focus {
  border: 3px solid #c1552e;
}

#counter-title,
#set-title {
  width: 100%;
  text-align: center;
  background-color: #c3c3c3;
}

#counter-options,
#set_aw-options {
  margin: auto;
  width: 20%;
}

#counter-container,
#set_aw-container {
  background-color: whitesmoke;
}